.board {
  display: flex;
  > *:not(:first-of-type) {
    margin-left: 24px;
  }
}


@media (max-width: 790px) {
  .board{
    flex-direction: column;
    align-items: center;
    gap: 50px;
    > *:not(:first-of-type) {
      margin-left: 0px;
    }
  }
}