.column {
  width: 282px;
  min-height: 210px;

  .header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 0.75em;
    height: 48px;
    color: #000000;
    padding-left: 12px;
    display: flex;
    align-items: center;
    user-select: none;
    position: sticky;
    top: 0;
    background-color: #EBECF0;
  }

  .wrapper {
    background-color: #EBECF0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    .body {
      padding: 0 6px 0 6px;
    }

    .footer {
      padding: 12px 6px;
      
      .add{
        display: flex;
        border: none;
        background-color: transparent;
        gap: 4px;
        color: #5E6C84;
        &:hover{
          cursor: pointer;
          background-color: #FFFFFF;
          border-radius: 5px;
        }
        &:disabled{
          cursor: not-allowed;
          background-color: transparent;
        }
      }
      .submit{
        border: none;
        cursor: pointer;
        width: 102px;
        height: 29px;
        background-color: #0079BF;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 18px;
      }
      .hide{
        border: none;
        cursor: pointer;
        width: 102px;
        height: 29px;
        background-color: #bf0019;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 18px;
        margin-left: 5px;
      }
    }
  }

}


@media (max-width: 790px) {
  .column{
    width: 100%;
    min-height: auto;
  }
}